nav ul {
  font-size: 36px;
  padding: 20px;
}

.ulNav {
  display: flex;
  gap: 24px;
}

.ulNav a {
  text-decoration: none;
  color: black;
}

.activeLink {
  font-weight: bold;
  color: royalblue;
  border-bottom: 2px solid royalblue;
}
