.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  margin-bottom: 10px;
  gap: 24px;
}

.contactDetails {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.bothButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}

.buttons {
  min-width: 100px;
}
